{% extends "global/InstructionScripts.html" %}
{% load otree static %}

{% block title %}
    Task Instructions
{% endblock %}

{% block appstyles %}
    <style>
        img {
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "global/Instructions.html" %}
    {% if modules == 2%}
    <p>
        In this task you create pictures by selecting and/or deselecting symbols presented in a row of {{ num_pictures }} columns (see screenshot below). There are 10 different symbols and each row of symbols represents a picture. An alien from outer space likes to buy such pictures and it will pay different amounts for different pictures with different symbols, but you don’t know what the alien likes and how the interconnectedness between the different symbols influences the payoff. A first example picture and its payoff are displayed below. 
    </p>
    <img src="{{ static image_path }}" class="img-fluid" alt="Screenshot"/>
    <p>
        Each picture is created by making changes in two modules, called M1 and M2. In each module there are five symbols that you can select or deselect. In every round, you must change exactly two symbols, otherwise you cannot proceed to the next round. Whether you make changes to M1 or M2 or both is entirely up to you. How changes affect the payoff that the alien pays is unknown and needs to be discovered. What is known is that the alien evaluates each picture based on the entire combination from both modules. 
    </p>
    <p>
        After your choices are submitted, the ‘M1 Payoff’ and the ‘M2 Payoff’ will be shown in addition to the ‘Joint Payoff’, which is the sum of the M1 and M2 payoffs. With the display of these payoffs, the round is completed, and you can continue with the next round.
    </p>
    <p>
        Although you cannot return to previous rounds, you can always see all selected and not-selected symbols and payoffs in both modules in all prior rounds. 
    </p>
    <p>
        The alien buys all the pictures that you jointly create in a block. A block contains 10 rounds and there are three blocks in addition to a practice block (no payment for this block). The alien pays you the accumulated ‘Joint Payoff’. For this task, you will earn a bonus of 2 pence (£0.02) per 10 points. 
    </p>
    {% else %}
    <p>
        In this task you create pictures by selecting and/or deselecting symbols presented in a row across 12 columns
        (see screenshot below). There are 12 different symbols, and each row of symbols represents a picture.
        An alien from outer space likes to buy such pictures and it will pay different amounts for different
        pictures with different symbols, but you don’t know what the alien likes and how the interconnectedness between
        the different symbols influences the payoff. A first example picture and its payoff are already displayed.
    </p>
<img src="{{ static image_path }}" class="img-fluid" alt="Screenshot"/>
    <p>
        On each trial you can combine symbols any way you like to make pictures: you can select or deselect as many
        symbols as you wish (0-10), but you must make a decision for every symbol in every trial as the alien considers
        the entire combination of selected and not-selected symbols. When you're ready you can click on the "Submit"
        button and the price will then be shown under the heading "Payoff" and the trial is completed.
    </p>
    <p>
        After submitting 12 pictures, the alien buys all pictures you created and pays you the accumulated price.
        The value of the pictures will change when you move to the next alien who will purchase the next block of
        12 pictures.
    </p>
    <p>
        While you are not able to return to prior trials or blocks, all aliens are willing to buy the same combination
        more than once; the payoff will then stay the same.
    </p>
    <p>
        The aliens buy all the pictures that you create and pay you the accumulated ‘Total Payoff’.
        For this task, you will earn a bonus of 2 pence (£0.02) per 10 points.
    </p>
    {% endif %}
    {% next_button %}
{% endblock %}
